html{
	background-color: linen;
	height: 960px;
  width: 100%;
}

h1 {
	background-color: #7cc576;
	height: 233px;
  color: black;
  text-align: center;
}
p {
	height: 680;
  text-align: left;
  color: black;
}
footer{
	height: 110px;
	background-color: #7cc576;
}