html{
	background-color: linen;
	height: 1019px;
	width: 960px;
  width: 100%;
}

header {
	margin: 0px;
	background-color: #7cc576;
	height: 233px;
	width: 100%;
  	color: black;

}
h1 {
  position: absolute;
  left: 240px;
  top: 46px;

}
button {
	background-color: #6dcff6;
	border: none;
	font-size: 20px;
	border-radius: 8px;
	width: 165px;
	padding: 24px 48px;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 140px;
}

#logo {
	padding-top: 0px;
	padding-left: 45px;
  width: 114px;
  height: 112px;
  object-fit: cover;
  object-position: 15% 50%;
}

#white {
  column-count: 2;
  column-gap: 40px;
  column-rule-width: 1px;
}

#red {
	float:  right;
	height: 300px;
  text-align: left;
  color: black;
  margin-right: 35%;
}

#orange {
  float: left;
  width: 30%;
  height: 300px;
  padding: 20px;
}

#photo-1 {
	width: 284px;
   height: 213px;
   padding-bottom: 15px;
}

.gallery {
  margin: 40px;
  float:  left;
  width: 186px;
  height: 138px;
}


.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

footer{
	height: 110px;
	background-color: #7cc576;
	color: black;
	font-size: 20px;
}

