html{
	background-color: linen;
	height: 960px;
  width: 100%;
}

h1 {
	 padding-left: 240px;
	 padding-top: 45px;
	background-color: #7cc576;
	height: 233px;
  	color: black;
}
p {
	height: 680;
  text-align: left;
  color: black;
}
footer{
	height: 110px;
	background-color: #7cc576;
}