@charset "utf-8";
main {
  				background: url("img/bubble.png");
  			}

  			header {
  				background: #7cc576;
  				padding: 0px 50px 50px 50px;
  			}

  			html, body, h2 {
  				margin: 0;
  			}