/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0  20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic-webfont.woff2') format('woff2'),
         url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-size: 55px;
}

h2 {
	font-size: 20px;
}

html{
	width: 960px;

}

body {
  font-family: "Sofia", sans-serif;
}

p {

	font-family: 'open_sanssemibold_italic', sans-serif;

}

.topnav {
  overflow: hidden;
  background-color: #72a9ae;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 12px;
}

.menubar {
	background-color: #72a9ae;
	border-style:  solid;
	border-color: #72a9ae;

}
.logo {
	text-indent: 40px;
	color: #72a9ae;
	font-family: 'Montserrat', sans-serif;

}

#bridge {
	width: 290px;
	padding-top: 50px;
	padding-left: 70px;
}

.red {
	column-count:  2;
	column-width: 400px;
	float: left;
	font-size: 12px;
	margin-left: 25px;
}

.green {
	height: 450px;
	width: 960px;
	column-count: 2;
	column-width: 465px;
	column-gap: 20px;
	float: left;
}

.abouttitle {
	color: #72a9ae;
	font-size: 12px;
	margin-left: 5px;
}

.scheduletitle {
	color: #72a9ae;
	font-size: 12px;
	margin-bottom: 25px;
	margin-left: 25px;
}

.edittitle {
	color: #72a9ae;
	font-size: 12px;
	margin-left: 25px;
	margin-top: 30px;
}

.profileinfotitle {
	color: #72a9ae;
	font-size: 12px;
	margin-top: 37px;
	padding-top: 30px;
	padding-bottom: 10px;
}


table, td, th {
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  height: 35px;
  margin-left: 25px;
  margin-right: 25px;
}

table {
  border-collapse: collapse;
  width: 95%;
}

th {
  height: 25px;
  color: #72a9ae;
  background-color: #ffffff;
}
tr:nth-child(even) {background-color: #efefef;}

input[type="submit"] {
	margin-left: 335px;
	transition: width 6s;
}

input:hover {
	width: 300px;
	background: cadetblue;
}

select#provincename-drop-container {
	padding-left: 40px;
}

select {
	width: 225px;
	height: 30px;
	margin-right: 52px;
	display: inline-block;
}

input[type=text], select {
	width: 225px;
	height: 30px;
	margin: 10px 10px;
	box-sizing: border-box;
	border: 2px solid #000000;
}

label {
	width: 90px;
	display: inline-block;
	padding: 0px 25px 0px 25px;
	margin-left: 25px;
}

form-elm[type=text] {
  width: 125px;
  margin: 0px 30px;
  box-sizing: border-box;
  margin-right: 500px;
}

.card {
	background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 345px;
  padding-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  text-align: center;
}

.title {
  color: #72a9ae;
  font-size: 25px;
}

.teal {
	background-color: #454545;
	width: 960px;
 	column-count:  3;
	column-width: 290px;
	float: left;
	height: 250px;
}

.links {
 	float: right;
 	width: 6%;
 	margin-top: -5%;
 	padding-top: 0px;
 	padding-right: 50px;
}

.quicklinks {
	align-items: center;
	height: 200px;
	text-align: center;
	padding: 7%;
	line-height: 1;
	color: white;
}

.sociallink {
	float: left;
	padding: 45px;
	height: 150px;
	align-items: center;
	line-height: 1;
	text-align: center;
	color: white;
}

.address {
	width: 220px;
	align-items: center;
	float: left;
 	padding: 45px;
 	height: 150px;
 	text-align: center;
	color: white;
}
