@charset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

html{
	width: 960px;
	height: 1019px;

}

body {
  font-family: "Sofia", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #72a9ae;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 12px;
}

.menubar {
	background-color: #72a9ae;
	border-style:  solid;
	border-color: #72a9ae;

}
.logo {
	text-indent: 40px;
	color: #72a9ae;
	font-family: 'Montserrat', sans-serif;

}

#bridge {
	width: 290px;
	padding-top: 50px;
	padding-left: 70px;
}

.red {
	column-count:  2;
	column-width: 50%;
	float: left;
	font-size: 12px;
	margin-left: 25px;
}

#green {
	column-count: 2;
	column-width: 50%;
	float: left;
}

.abouttitle {
	color: #72a9ae;
	font-size: 12px;
	margin-left: 5px;
}

.scheduletitle {
	color: #72a9ae;
	font-size: 12px;
	margin-bottom: 25px;
	margin-left: 25px;
}

.edittitle {
	color: #72a9ae;
	font-size: 12px;
	margin-left: 25px;
	margin-top: 30px;
}

.profileinfotitle {
	color: #72a9ae;
	font-size: 12px;
	padding-left: 625px;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  height: 35px;
  margin-left: 25px;
  margin-right: 25px;
}

table {
  border-collapse: collapse;
  width: 95%;
}

th {
  height: 25px;
  color: #72a9ae;
  background-color: #ffffff;
}
tr:nth-child(even) {background-color: #efefef;}

input {
  width: 225px;
}
input[type=text] {
  width: 225px;
  padding: 12px 20px;
  margin: 16px 30px;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-left: 625px;
}

.title {
  color: #72a9e;
  font-size: 18px;
}


#teal{
	width: 960px;
 	column-count:  3;
	column-width: 33%;
	float: left;
	height: 250px;
}

.links {
  float: right;
  width: 6%;
  margin-top: -5%;
  padding-top: -30px;
  padding-right: 50px;
}

.quicklinks{
	align-items: center;
}

.sociallink{
	align-items: center;
}

.address{
	align-items: center;
}